api_key.py
backups/*
mass_bans/*
lockdown_logs/*
/*.json
.idea/*
venv/*
__pycache__/*
cogs/__pycache__/*
helpers/__pycache__/*
perks/__pycache__/*
achievements/__pycache__/*
venv/
image_cache/
transcripts/
transcript.html
*.swp
