p {
    display: none;
}

html {
    width: 100%;
    height: 100%;
    background-color: rgb(54, 57, 63);
}

.code {
    font-family: Consolas, "courier new";
    color: lightgreen;
    background-color: darkslategrey;
    padding: 2px;
    font-size: 105%;
    margin-top: 1%;
}

.message:hover,
.message-only:hover {
    background-color: rgb(50, 53, 59);
    width: 100%;
}

.message {
    display: grid;
    grid-template-columns: [avatar] 50px [content] auto;
    grid-template-rows: [header] 20px [rest] auto [attachment] auto;
    /* margin-bottom: 1%; */
}

.message-separator {
    margin-top: 0.5%;
    margin-bottom: 0.5%;
}

.message-only {
    display: grid;
    grid-template-columns: [avatar] 50px [content] auto;
    grid-template-rows: [rest] auto [attachment] auto;
}

.message-header {
    grid-column: content;
    grid-row: header;
}

.username {
    color: #ff00d1;
}

.message-content {
    color: white;
    grid-row: rest;
    grid-column: content;
}

.avatar {
    display: inline-block;
    vertical-align: top;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    grid-column: avatar;
}

.image-attachment {
    max-width: 25%;
    max-height: 25%;
    border-radius: 2%;
    grid-column: content;
    grid-row: attachment;
    position: relative;
}

.timestamp {
    opacity: 50%;
    margin-left: 10px;
    font-size: 75%;
}

.message-embed {
    grid-column: content;
    grid-row: attachment;
}

.bot-tag {
    background: #7289da;
    font-size: 10px;
    font-weight: 600;
    color: #fff !important;
    margin-left: 6px;
    padding: 1px 2px;
    border-radius: 3px;
    text-transform: uppercase;
    vertical-align: bottom;
    line-height: 16px;
    flex-shrink: 0
}

.username {
    cursor: pointer
}

.username:hover {
    text-decoration: underline
}

.avatar:hover {
    opacity: .8
}

.hide-overflow {
    overflow: hidden
}

a {
    color: #00b0f4;
    transition: .05s;
    cursor: pointer
}

a:hover {
    text-decoration: underline
}

.message .markup a {
    unicode-bidi: bidi-override;
    direction: ltr
}

.emoji {
    object-fit: contain;
    width: 22px;
    height: 22px;
    margin: 0 .05em 0 .1em !important;
    vertical-align: -.4em
}

.emoji.jumboable {
    width: 32px;
    height: 32px
}

.image {
    display: inline-block;
    position: relative;
    user-select: text
}

.embed,
.embed-wrapper {
    display: -webkit-box;
    display: -ms-flexbox
}

.embed-wrapper {
    position: relative;
    margin-top: 5px;
    max-width: 520px;
    display: flex
}

.embed-wrapper .embed-color-pill {
    width: 4px;
    background: #cacbce;
    border-radius: 3px 0 0 3px;
    flex-shrink: 0
}

.markup,
.embed-content,
.embed-description,
.embed-footer {
    color: #b6b3b3cc;
}

.embed {
    padding: 8px 10px;
    box-sizing: border-box;
    background: hsla(0, 0%, 98%, .3);
    border: 1px solid hsla(0, 0%, 80%, .3);
    border-radius: 0 3px 3px 0;
    display: flex;
    flex-direction: column
}

.embed.embed-rich {
    background-color: #2A2D2F
}

.embed .embed-content,
.embed.embed-rich {
    display: -webkit-box;
    display: -ms-flexbox
}

.embed .embed-fields,
.embed.embed-link {
    -webkit-box-direction: normal
}

.embed div.embed-title {
    color: #4f545c
}

.embed .embed-content {
    width: 100%;
    display: flex;
    margin-bottom: 10px
}

.embed .embed-content .embed-content-inner {
    flex: 1
}

.embed.embed-rich {
    position: relative;
    display: flex;
    border-radius: 0 3px 3px 0
}

.embed.embed-rich .embed-rich-thumb {
    max-height: 80px;
    max-width: 80px;
    border-radius: 3px;
    width: auto;
    object-fit: contain;
    flex-shrink: 0;
    margin-left: 20px
}

.embed .embed-content-inner>:last-child,
.embed .embed-content:last-child,
.embed .embed-inner>:last-child,
.embed>:last-child {
    margin-bottom: 0 !important
}

.embed .embed-author {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    margin-bottom: 5px
}

.embed .embed-author-name,
.embed .embed-footer,
.embed .embed-title {
    display: inline-block;
    font-weight: 600
}

.embed .embed-author-name {
    font-size: 14px;
    color: #b6b3b3cc !important
}

.embed .embed-author-icon {
    margin-right: 9px;
    width: 20px;
    height: 20px;
    object-fit: contain;
    border-radius: 50%
}

.embed .embed-footer {
    font-size: 12px;
    letter-spacing: 0
}

.embed .embed-footer-icon {
    margin-right: 10px;
    height: 18px;
    width: 18px;
    object-fit: contain;
    float: left;
    border-radius: 2.45px
}

.embed .embed-title {
    margin-bottom: 4px;
    font-size: 14px
}

.embed .embed-title+.embed-description {
    margin-top: -3px !important
}

.embed .embed-description {
    display: block;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 10px;
    /* color: rgba(79, 83, 91, .9); */
    letter-spacing: 0
}

.embed .embed-description.markup {
    white-space: pre-line;
    margin-top: 0 !important;
    font-size: 14px !important;
    line-height: 16px !important
}

.embed .embed-description.markup pre {
    max-width: 100% !important
}

.embed .embed-fields {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: -10px;
    margin-bottom: 10px
}

.embed .embed-fields .embed-field {
    flex: 0;
    padding-top: 10px;
    min-width: 100%;
    max-width: 506px
}

.embed .embed-fields .embed-field.embed-field-inline {
    flex: 1;
    min-width: 150px;
    flex-basis: auto
}

.embed .embed-fields .embed-field .embed-field-name {
    font-size: 14px;
    margin-bottom: 4px;
    font-weight: 600
}

.embed .embed-fields .embed-field .embed-field-value {
    font-size: 14px;
    font-weight: 500
}

.embed .embed-thumbnail {
    position: relative;
    display: inline-block
}

.embed .embed-thumbnail {
    margin-bottom: 10px
}

.embed .embed-thumbnail img {
    margin: 0
}

.comment>:last-child .embed {
    margin-bottom: auto
}
